= flash_messages
#content_head
  #ch-title
    %h1 News Items
  #ch-button
    %a{:href => new_post_path}
      %button.btn.btn-primary{:type => 'button'} New
.row
  .col-md-12
    %table.table
      %thead.posts_head
        %tr
          %th TITLE
          %th EXCERPT
          %th DELETE
          %th EDIT
          %th MORE
      %tbody.posts_body
        - @posts.each do |post|
          %tr
            %td= raw(HTML_Truncator.truncate(post.title, 5))
            %td.alternate= raw(HTML_Truncator.truncate(post.body, 10))
            %td.button_cell= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, post_path(post), data: {:confirm => 'Are you sure?'}, :method => :delete
            %td.alternate.button_cell= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe, edit_post_path(post)
            %td.button_cell= link_to "<span class=\"glyphicon glyphicon-plus-sign\"></span>".html_safe, post_path(post)
:javascript
  $("#posts_menu_item").toggleClass("active")
