<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image_url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %>
    <% end %>
    <%= f.text_field :name %>
    <%= f.text_field :caption %>
    <%= f.date_field :date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
