.embed_form
  = image_tag "car_logo.png", style:"width:100%"
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, required: false, autofocus: true , label: false, placeholder: 'Email'
      = f.input :password, required: false, label: false, placeholder: 'Password'
      = f.button :submit, "LOG IN", :class => "loginButton"
      .form-actions
        %br
        = render "customer_admins/shared/links"
