<%= simple_form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :publish_date %>
  </div>

  <div class="form-group">
    <%= label(:post, :header_image) %>
    <p>Optimal dimensions: 750 * 370</p>
    <%= f.hidden_field(:header_image_cache) %>
    <%= f.file_field(:header_image) %>
    <% if @post.header_image.present? %>
      <%= image_tag(@post.header_image_url(:thumbnail), :alt => @post.title) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= label(:post, :icon_image) %>
    <p>Optimal dimensions: 250 * 250</p>
    <%= f.hidden_field(:icon_image_cache) %>
    <%= f.file_field(:icon_image) %>
    <% if @post.icon_image.present? %>
      <%= image_tag(@post.icon_image_url(:thumbnail), :alt => @post.title) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>

<script type='text/javascript' charset='UTF-8'>
  $(document).ready(function(){
    $('form[data-remote]').bind('ajax:before', function(){
      for (instance in CKEDITOR.instances){
        CKEDITOR.instances[instance].updateElement();
      }
    });
  });
</script>
