= render 'api/v1/partials/header'
.post
  .post-header.clearfix
    = image_tag(@post.header_image_url, :alt => @post.title)
  .post-body
    %h1
      = @post.title
    .post-date
      = @post.publish_date.strftime("%B %-d, %Y")
    .divider
    %p
      = raw @post.body

